doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/style/style.scss")
        title Mitravel
    body
        .container
            button.btn.btn--accent BUY THE BOOK            
            button.btn READ ARTICLE            
            button.btn.btn--fluid Subscribe Now
            span.budge.budge--blend-mode FEATURED
            span.budge FEATURED
        include ./view/travel-bloks.pug
        include ./view/subscription.pug
        include ./view/featured.pug                        