doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/style/style.scss")
        title Mitravel
    body
        .container
            button.btn.btn--accent BUY THE BOOK            
            button.btn READ ARTICLE            
            button.btn.btn--fluid Subscribe Now
            span.budge.budge--blend-mode FEATURED
            span.budge FEATURED
        section.travel-bloks
            .container 
                h2.title.title--h2.travel-bloks__title Become A Travel Pro In <br>One Easy Lesson
                .row
                     - let travels = [
                     -  { title: 'Vacation Home\nRental Success', img: './assets/images/1.png' },
                     -  { title: 'Vacation Home\nRental Success', img: './assets/images/2.png' },
                     -  { title: 'Vacation Home\nRental Success', img: './assets/images/3.png' },
                     -  { title: 'Vacation Home\nRental Success', img: './assets/images/4.png' },
                     - ];
                     each item in travels
                        a.travel-item(href="#")
                            img(src=`${item.img}`, alt="", height="551")
                            .travel-item__description Vacation Home <br>Rental Success
            .container 
                .subscription
                    .subscription-block
                        img(src="./assets/images/unsplash.png", alt="")    
                        h2.subscription-block--title Sign Up Our <br>Newsletter
                        p.subscription-block--description The state of Utah in the United States is home to <br>lots of beautiful National Parks, & Bryce Canyon <br>National Park ranks as three of the most <br>magnificent.
                    .subscription-form
                        input(type="email" name="EMAIL" placeholder="EMAIL")
                        input(type="email" name="EMAIL" placeholder="EMAIL")
                        input(type="numder" name="numder" placeholder="PHONE NUMBER")
                        button.btn.btn--fluid SIGN UP NOW
            .container 
                .featured
                    img.featured--img(src="./assets/images/sebastian.png", alt="", height="500") 
                    .featured-block
                        .featured-block--description DESTINATIONS
                        .featured-block--title A Guide To Rocky Mountain Vacations
                        .featured-block--reviews 
                            img.reviews-img(src="./assets/images/Ellipse-1.png", alt="")
                            img.reviews-img(src="./assets/images/Ellipse-2.png", alt="")
                            img.reviews-img(src="./assets/images/Ellipse-3.png", alt="")

                    span.budge.budge--blend-mode.featured--budge FEATURED

