@use "sass:map";

// Color project
$white:        #ffffff;
$blue:         #2136a1;
$ocean:        #1C2E3D;
$red:          #E8594E;
$green:        #73AFBA;
$gray:         #788692;

$primary:       $ocean;
$secondary:     $green;
$accent:        $red;
$success:       $green;
$danger:        $red;
$text:          $gray;

// Animation
$transition: 0.3s;

// Padding & Margin
$grid_gutter: 15px;

// Style border radius
$border-radius: 8px;


// Breakpoint prefixs
$prefix-md: 'md';
$prefix-lg: 'lg';

// Breakpoints
$breakpoints-value: ($prefix-lg: 1920px, $prefix-md: 1566px);

// Container width
$containers-value: ($prefix-lg: 1566px, $prefix-md: 1360px);