@import './abstracts/index.scss';
@import './base/index.scss';
@import './layouts/index.scss';
@import './components/index.scss';

body {
   font-family: 'SFProDisplay';
   font-style: bold;
}

.sectoin {
   width: 1566px;
   margin: 0 auto;

   .title-slider {
      font-size: 64px;
      line-height: 80px;
      color: $primary;
      padding-bottom: 96px;
      margin: 0;
   }
}

.container-slider {

   display: flex;
   justify-content: space-between;

   .slider {
      width: 367px;
      height: 551px;
      border-radius: $border-radius;
   }

   .slider__active {
      position: relative;

      &::after {
         content: '';
         display: block;
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         background: $success;
         mix-blend-mode: normal;
         opacity: 0.9;
         border-radius: 4px;

      }


      &--description {
         position: absolute;
         left: 53px;
         bottom: 61px;
         font-size: 24px;
         color: $white;
         z-index: 1;
      }
   }

}

.subscription {

   &-block {
      position: relative;
     

      &::after {
         content: '';
         display: block;
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         background: rgba(28, 46, 61, 0.46);
      }

      &--title {
         position: absolute;
         top: 336px;
         left: 135px;
         font-size: 64px;
         line-height: 80px;
         color: $white;
         z-index: 1;
         margin: 0;
      }

      &--description {
         position: absolute;
         font-size: 16px;
         line-height: 21px;
         padding-top: 40px;
         color: $white;
         z-index: 1;
         margin: 0;
         left: 135px;
         bottom: 178px; 
         font-family: 'SFCompactText';
      }
   }

}



@font-face {
   font-family: 'SFProDisplay';
   src: url('../fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
      url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   font-stretch: condensed
}

@font-face {
   font-family: 'SFProDisplay';
   src: url('../fonts/SFProDisplay-Bold.woff') format('woff'),
      url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
      url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: bold;
   font-display: swap;
   font-stretch: condensed
}


@font-face {
   font-family: 'SFCompactText';
   src: url('../fonts/SFCompactText-Regular.woff') format('woff'),
      url('../fonts/SFCompactText-Regular.ttf') format('truetype'),
      url('../fonts/SFCompactText-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   font-stretch: condensed
}