@import '../abstracts/index.scss';

.btn {
    font-family: 'SFProDisplay';
    font-weight: 700;
    letter-spacing: 2.18182px; 
    width: 266px;
    height: 80px;
    border: 0px;
    font-size: 12px;
    border-radius: $border-radius;
    color: $white;
    background-color: $secondary;
    text-transform: uppercase;
    cursor: pointer;

    &--fluid {
        width: 100%;
    }

    &--accent {
        background-color: $accent;
    }
}
