@import '../abstracts/index.scss';

.featured {
    $parent: &;
    position: relative;
    height: 500px;
    border-radius: $border-radius;
    overflow: hidden;
    background: $primary;
    margin-top: 16px;
    margin-bottom: 16px;

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
    }

    &__img {
        @extend %imgBackground;
    }

    &__info {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 40px;
        z-index: 2;
        width: 100%;
    }

    &__pretitle {
        font-family: 'SFProDisplay';
        font-weight: 700;
        letter-spacing: 1.1px;
        font-size: 10px;
        color: $white;
        letter-spacing: $letterSpacinText;
        // transition: $transition;
    }

    &__title {
        font-family: 'SFProDisplay';
        font-weight: 700;
        font-size: 32px;
        color: $white;
        padding-top: 8px;
        padding-bottom: 30px;
        // transition: $transition;
    }

    &__budge {
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 2;
        //    transition: $transition;
    }

    &__reviews {
        display: inline-block;
        position: relative;
        // transition: $transition;
    }

    &:hover {
        #{$parent}__img {
            opacity: 0.1;
        }

        #{$parent}__pretitle {
            text-align: center;
        }

        #{$parent}__title {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 166px;
            font-family: 'SFCompactText';
            font-weight: 400;
        }

        #{$parent}__budge {
            opacity: 0;
        }

        #{$parent}__reviews {
            left: 50%;
            transform: translateX(-50%);
        }

        #{$parent}__play {
            opacity: 0;
        }
    }

    &__play {
        top: 40px;
        left: 40px;
    }

    &--big {
        height: 700px;
    }

}