@import '../abstracts/index.scss';


footer {
   padding-top: 124px;
   padding-bottom: 121px;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   margin-top: 140px;
}


.list {

   font-family: 'SFProDisplay';

   &__head {
      position: relative;
      text-transform: uppercase;
      color: #100E0B;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2.15px;

      &::after {
         content: '';
         position: absolute;
         left: 0;
         top: 47px;
         width: 48px;
         height: 1px;
         background: #57A773;
      }

      &_input {
         position: relative;
         width: 100%;
         height: 64px;
         margin-top: 62px;
         margin-bottom: 16px;
         border-radius: $border-radius;
         border: 1px solid #E4E4E4;
         font-size: 16px;
         line-height: 19px;
         padding-left: 32px;

         ::after {
            contain: '';
            // background-image: url(../../images/user.svg);
            background-size: contain;
            position: absolute;
            width: 24px;
            height: 24px;
            right: 35px;
            top: 20px;
         }
      }
   }

   ul {
      margin-top: 64px;

      li {
         color: #959EA6;
         font-weight: 400;
         font-size: 13px;
         line-height: 29px;
      }
   }
}


.footer-copyright {
   padding-top: 32px;
   padding-bottom: 32px;
   font-size: 13px;
   line-height: 15px;
   color: #959EA6;

   .copyright__link{
      display: flex;
      justify-content: flex-end;
   }

   .link-privacy {
      padding-left: 20px;
   }
}