@import '../abstracts/index.scss';

.travel-item {
    $parent: &;
    display: block;
    position: relative;
    height: 550px;
    width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
    transition: $transition;
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
    }
    &__description {
       position: absolute;
       left: 53px;
       bottom: 61px;
       font-size: 24px;
       color: $white;
       z-index: 1;
       opacity: 0;
       transition: inherit;
    }
    &::after {
       content: '';
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: $success;
       mix-blend-mode: normal;
       opacity: 0;
       transition: inherit;
    }
 
    &:hover {
       border-radius: calc($border-radius / 2);
 
       #{$parent}__description {
          opacity: 1;
       }
 
       &::after  {
          opacity: 0.9;
       }
    }
 }