@import '~/node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
    &::after, &::before {
        box-sizing: inherit;
    }
}

body {
    font-family: 'SFCompactText';
}
 
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    vertical-align: middle;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: #959EA6;
}

input{
    padding: 0;
    margin: 0;
}