.container
    .title-main  
        h2.title-main__head Inspirations
        p.title-main__description The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce <br>Canyon National Park ranks as three of the most magnificent & awe inspiring.   
    .row 
        .col-md-8
            .featured
                img.featured__img(src="./assets/images/sebastian.png", alt="") 
                .featured__info
                    .featured__pretitle DESTINATIONS
                    .featured__title A Guide To Rocky Mountain Vacations
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/Ellipse-1.png", alt="")
                        img.reviews__img(src="./assets/images/Ellipse-2.png", alt="")
                        img.reviews__img(src="./assets/images/Ellipse-3.png", alt="")
                span.featured__budge.budge.budge--blend-mode
                    span FEATURED
        .col-md-4
            .featured
                img.featured__img(src="./assets/images/tomas-nozina.png", alt="") 
                .featured__info
                    .featured__pretitle DESTINATIONS
                    .featured__title Traveling To Barcelona
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img5.png", alt="")
                        img.reviews__img(src="./assets/images/img6.png", alt="")                                
                .featured__play.budge-play
                    img.budge-play--arrow(src="./assets/images/Path.svg", alt="") 
                    img.budge-play--oval(src="./assets/images/Oval.svg", alt="")  
        .col-md-4
            .featured.featured--big
                img.featured__img(src="./assets/images/ryan-christodoulou.png", alt="") 
                .featured__info
                    .featured__pretitle DESTINATIONS
                    .featured__title Party Jokes Startling But Unnecessary
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img7.png", alt="")
                        img.reviews__img(src="./assets/images/img8.png", alt="")                               
        .col-md-4
            .featured.featured--big
                img.featured__img(src="./assets/images/denys-nevozhai.png", alt="") 
                .featured__info                            
                    .featured__title Maui By Air The Best Way Around The Island
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img7.png", alt="")
                        img.reviews__img(src="./assets/images/img8.png", alt="") 
        .col-md-4
            .featured.featured--big
                img.featured__img(src="./assets/images/simon-migaj.png", alt="") 
                .featured__info
                    .featured__pretitle Andre Gide
                    .featured__title Man cannot discover new oceans unless he has the courage to lose sight of the shore.
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img5.png", alt="")
                        img.reviews__img(src="./assets/images/img6.png", alt="")
        .col-md-4
            .featured
                img.featured__img(src="./assets/images/andre-a-xavier.png", alt="") 
                .featured__info
                    .featured__pretitle DESTINATIONS
                    .featured__title Traveling To Barcelona
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img11.png", alt="")
                        img.reviews__img(src="./assets/images/img12.png", alt="")                                
                .featured__play.budge-play
                    img.budge-play--arrow(src="./assets/images/Path.svg", alt="") 
                    img.budge-play--oval(src="./assets/images/Oval.svg", alt="") 
        .col-md-8
            .featured
                img.featured__img(src="./assets/images/cristian-palmer.png", alt="") 
                .featured__info
                    .featured__pretitle DESTINATIONS
                    .featured__title A Guide To Rocky Mountain Vacations
                    .featured__reviews.reviews 
                        img.reviews__img(src="./assets/images/img12.png", alt="")
                        img.reviews__img(src="./assets/images/img13.png", alt="")
                        img.reviews__img(src="./assets/images/img14.png", alt="")
                span.featured__budge.budge.budge--blend-mode
                    span FEATURED   