footer 
   .container 
      .row
         .col-md-3 
            .list
               .list__head Company
               ul 
                  li 
                     a(href="#") About
                  li 
                     a(href="#") Press
                  li 
                     a(href="#") Blog
                  li 
                     a(href="#") Careers
                  li 
                     a(href="#") Security
                  li 
                     a(href="#") Driver Centre
         .col-md-3 
            .list
               .list__head Information
               ul 
                  li 
                     a(href="#") Our Story
                  li 
                     a(href="#") Recipes
                  li 
                     a(href="#") Nutrition
                  li 
                     a(href="#") Resources
                  li 
                     a(href="#") Newsletter
                  li 
                     a(href="#") Contact
         .col-md-3 
            .list
               .list__head Information
               ul 
                  li 
                     a(href="#") Customer service
                  li 
                     a(href="#") Recommend a restaurant
                  li 
                     a(href="#") Signup a restaurant
                  li 
                     a(href="#") Jobs
                  li 
                     a(href="#") Press
                  li 
                     a(href="#") Terms of use
         .col-md-3
            .list
               .list__head Subscribe Now
               input.list__head_input(type="email" name="email" placeholder="Your email") 
               button.btn.btn--fluid Subscribe Now
.footer-copyright
   .container
      .row      
         .col-md-10
            p © 2019 Mass Impressions. Designed by Tran Mau Tri Tam for Mass Impressions. All rights reserved.            
         .col-md-2.copyright__link
            a(href="#") Terms of Service           
            a(href="#").link-privacy Privacy Policy