section
   .container 
      .title-main  
         h1.title-main__head Featured Videos
         p.title-main__description The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce <br>Canyon National Park ranks as three of the most magnificent & awe inspiring.
      .title-main  
         h1.title-main__head Inspirations
         p.title-main__description The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce <br>Canyon National Park ranks as three of the most magnificent & awe inspiring.   